/* Global styles */
html, body {
  background-image: url('/assets/home.jpg');
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.Bar {
  background-color: #007bff;
  color: white;
  padding: 10px 0;
  text-align: center;
}

.navbar {
  background-color: #007bff;
  color: white;
  padding: 10px 5px;
  text-align: center;
  margin-bottom: 20px; /* Add margin-bottom to create space */

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 20px;

      a {
        color: white;
        text-decoration: none;
        padding: 10px 15px;
        transition: color 0.3s ease;

        &:hover {
          color: #ffc107;
        }
      }

      .highlighted { /* Style the login link */
        display: block; /* Make the link a block element to fill the entire space of the parent */
        color: white;
        text-decoration: none;
        padding: 10px 15px;
        transition: color 0.3s ease;

        &:hover {
          color: #ffc107;
        }
      }
    }

    .search-form {
      display: flex;

      input[type="text"] {
        padding: 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        margin-right: 5px;
        width: 150px;
      }

      button {
        padding: 8px 12px;
        border-radius: 4px;
        background-color: #0056b3;
        color: white;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #004080;
        }
      }
    }
  }
}

.forgot-password-container {
  display: flex;
  justify-content: center; /* Center the form horizontally */
  align-items: center; /* Center the form vertically */
  flex-direction: column; /* Stack the form items vertically */
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.forgot-password-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #007bff;
}

.forgot-password-container form {
  width: 100%;
}

.forgot-password-container .form-group {
  margin-bottom: 15px;
}

.forgot-password-container label {
  display: block;
  margin-bottom: 5px;
  color: #495057;
  font-weight: bold;
}

.forgot-password-container input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;
}

.forgot-password-container button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.forgot-password-container button[type="submit"]:hover {
  background-color: #0056b3;
}
